<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="feed.html">
                <img src="images/logo.png" class="header__image">
            </a>
        </div>
        <form>
            <input type="text" placeholder="Search">
        </form>
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="explore.html" class="header__link">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">
                        <i class="fa fa-heart-o"></i>
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__link">
                        <i class="fa fa-user-o"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>