.feed {
  width: 100%;
  max-width: 600px;
}

.feed .photo {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.photo .photo__header {
  padding: 15px;
  display: flex;
  align-items: center;
}

.photo__header .photo__avatar {
  margin-right: 10px;
  width: 30px;
  border-radius: 50%;
}

.photo__user .photo__username {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.photo__user .photo__location {
  font-size: 12px;
}

.photo .photo__file {
  max-width: 100%;
}

.photo .photo__meta {
  padding: 20px 15px;
}

.photo__meta .photo__actions,
.photo__meta .photo__likes,
.photo__meta .photo__comments,
.photo__meta .photo__date,
.photo__comments .photo__comment {
  margin-bottom: 15px;
  display: block;
}

.photo__meta .photo__actions {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.photo__actions .photo__action {
  cursor: pointer;
}

.photo__actions .photo__action:first-child {
  margin-right: 10px;
}

.photo__meta .photo__likes,
.photo__comment .photo__comment-author {
  font-weight: bold;
}

.photo__meta .photo__date {
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
}

.photo__meta .photo__add-comment {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.photo__add-comment textarea {
  width: 95%;
  border: 0;
  resize: none;
  font-size: 12px;
}

.photo__add-comment textarea:focus {
  outline: none;
}
