{% extends "base.html" %}

{% block title%}Feed{% endblock%}

{% block content %}
<main class="feed">

    <div class="photo">
        <header class="photo__header">
            <img src="images/avatar.jpg" class="photo__avatar">
            <div class="photo__user">
                <span class="photo__username">serranoarevalo</span>
                <span class="photo__location">Chiang Mai</span>
            </div>
        </header>
        <img src="images/feedPhoto.jpg" class="photo__file">
        <div class="photo__meta">
            <div class="photo__actions">
                <div class="photo__action-column">
                    <span class="photo__action">
                        <i class="fa fa-heart-o"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o"></i>
                    </span>
                </div>
                <span class="photo__action">
                    <i class="fa fa-bookmark-o"></i>
                </span>
            </div>
            <span class="photo__likes">22324 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
            </ul>
            <span class="photo__date">7 days ago</span>
            <div class="photo__add-comment">
                <textarea placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="photo">
        <header class="photo__header">
            <img src="images/avatar.jpg" class="photo__avatar">
            <div class="photo__user">
                <span class="photo__username">serranoarevalo</span>
                <span class="photo__location">Chiang Mai</span>
            </div>
        </header>
        <img src="images/feedPhoto.jpg" class="photo__file">
        <div class="photo__meta">
            <div class="photo__actions">
                <div class="photo__action-column">
                    <span class="photo__action">
                        <i class="fa fa-heart-o"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o"></i>
                    </span>
                </div>
                <span class="photo__action">
                    <i class="fa fa-bookmark-o"></i>
                </span>
            </div>
            <span class="photo__likes">22324 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
            </ul>
            <span class="photo__date">7 days ago</span>
            <div class="photo__add-comment">
                <textarea placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="photo">
        <header class="photo__header">
            <img src="images/avatar.jpg" class="photo__avatar">
            <div class="photo__user">
                <span class="photo__username">serranoarevalo</span>
                <span class="photo__location">Chiang Mai</span>
            </div>
        </header>
        <img src="images/feedPhoto.jpg" class="photo__file">
        <div class="photo__meta">
            <div class="photo__actions">
                <div class="photo__action-column">
                    <span class="photo__action">
                        <i class="fa fa-heart-o"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o"></i>
                    </span>
                </div>
                <span class="photo__action">
                    <i class="fa fa-bookmark-o"></i>
                </span>
            </div>
            <span class="photo__likes">22324 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
                <li class="photo__comment">
                    <span class="photo__comment-author">
                        inthetiger
                    </span>
                    Wow omg wtf!
                </li>
            </ul>
            <span class="photo__date">7 days ago</span>
            <div class="photo__add-comment">
                <textarea placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>

</main>
{% endblock %}